<nav class="sidebar  col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 navbar-toggleable-sm  ">
 
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fa fa-align-justify"></i></span>
  </button>
 <h1 class="site-title">  <img src="../../assets/logo.png" alt="" style="width:30px;height:auto">  Spot Charts </h1>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
  <ul class="nav nav-pills flex-column sidebar-nav">
    <li class="nav-item">
      <div class="nav-link tt ">
        <img src="./assets/chartjs-logo.svg" alt=""> Charts.js  </div>
    <ul class="child_menu">
      <li class="nav-item"> <a class="nav-link" routerLink = ""   ><em class="fa fa-bar-chart"></em> Realtime</a></li>
      <li class="nav-item"><a class="nav-link" routerLink = "charts"><em class="fa fa-pie-chart"></em> Updateable</a></li>
    </ul>
    </li>
    <li class="nav-item">
        <div class="nav-link tt "> <img src="./assets/ploty.png" alt=""> Ploty.js  </div>
        <ul class="child_menu">
            <li class="nav-item"><a class="nav-link"  routerLink = "plotly1"><em class="fa  fa-line-chart"></em> plotly 1</a></li>
            <li class="nav-item"><a class="nav-link" routerLink ="3dCharts"><em class="fa fa-area-chart"></em> 3D Charts</a></li>
          </ul>
        </li>

  </ul>
 </div>
</nav>