<h4 class="title"> 3D Charts </h4>

<div>
Charts in this page created By <img src="./assets/ploty.png" class="img32" alt=""> <strong>Ploty.js</strong> 
<p> Hover the chart & use Toolbar to manage your charts <img src="./assets/images/toolbar.jpg" class="img-fluid" alt=""></p>

</div>


<section>
  <div class="row" >
  <div class="col-12  ">
      <div class="x_panel" >


          <div class="x_title" >
          <h5> Topographical 3D Surface Plot <small> Real data feed </small></h5>
          </div>
          <div class="x_content">
                            
                <div #chart class="chart">
                  <!-- Chart will appear here -->
                </div>
                
</div></div>
  </div>

  
  


</div>

 

  </section>







