
<side-bar></side-bar>


<main class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10 pt-3 pl-4 ml-auto">
<spinner></spinner>

        <router-outlet></router-outlet>

         
   <!-- Copy footer start from here-->
      <div class="copyright">
        <div class="container-fluid">
          <div class="row px-3">
            <div class="col-lg-6 col-xs-12">
              <p>© 2018 - <i class="fa fa-globe" aria-hidden="true"></i> <a href="https://wafaa-hamdy.firebaseapp.com/">   Wafaa Hamdy</a> -- Full Stack Web Developer</p>
            </div>
            
            <div class="col-lg-6 col-xs-12">
             
                <p><i class="fa fa-envelope"></i>    <a href="mailto:eng.wafaa.hamdy@gmail.com" target="_blank"> eng.wafaa.hamdy@gmail.com</a></p>
                  </div>
          </div>
        </div>
      </div>
</main>



    
   
    


